/* Global style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.flexible{
    display: flex;
}
h1{
    color: black;
    font-size: 30px;
    font-weight: 700;
}
h4{
    color: #333333;
    font-size: 46px;
    font-weight: 700;
}
p{
    font-size: 22px;    
    font-weight: 400;
    margin-bottom: 5%;
    color: #3E3E3E;     
}

.orange{
    color: #FFAD5A;
}
.redd{
    color: #FF5959;
}

.button{
    margin-top: 10% ;
    text-decoration: none;
    background-color: #FF5959 ;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
}
.button:hover{
    background-color: #f12a2a ;
}


.second-paragraph{
    padding-right: 15%;  
}


/* end of global style */

/* 1st part style  */

.half-width{
    width: 50%;    
}
.left{
    padding-left: 10%;
}
.moto{
    font-family: 'Yeseva One', cursive;
    color: #333333;
    
    font-size: 70px;
    padding-left: 2%;      
    font-weight: 400;
    margin-top: 25%;
    margin-bottom: 0;
}
.line{
    width: 5px;
    height: 13.85%;
    background: #FF5959;
    position: absolute;
    left: 10.35%;
    transform: translateY(12.5%); 
    border-radius: 5px;
}
.first-paragraph{
    width: 600px;   
}
.scroll{
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


/*end of 1st part style*/

/* 2nd part style */
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #13103A;
    font-weight: 700;
}


.box{
    width: 33%;
    margin-left: 1.5%;
    padding: 2%;  
    border-radius: 10%;
}
.box img{
    width: 60%;
    height: auto;
}
.gray{
    background-color: #EDF5F6;  
    margin-left: 10%;
}
.red{
    background-color: #FFEEEE; 
}
.yellow{
    background-color: #FFF4D6;  
    margin-right: 10%;
    
}


/*end of 2nd part style */

/* 3rd part style */
.third{
    padding-top: 5%;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position-x: 80px;
    background-position-y: 65px;
}

.thirdPart-left{
    width: 40%;
    margin-top: 5%;
    padding-left: 10%;
  
}
.thirdPart-right{
    margin-top: 5%;
    width: 60%;
}



/* end of 3rd part style */

/* 4th part style*/

.fourthPart-left{
    width: 60%;
    margin-top: 5%;
    padding-left: 10%;
  
}
.fourthPart-right{
    margin-top: 5%;
    width: 40%;
}


.fourth{
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position-x: 97%;
    background-position-y: 100%;
    padding-bottom: 5%;
}

/*end of 4th part style*/

/* 5th part style */
.lefty{
    margin-left: 5%;
    text-align: right;
    padding-right: 5%;
}

.right{
    padding-right: 10%;
    padding-left: 5%;
    text-align: left;

}

.invite{
    margin-top: -2%;
    font-size: 20px;
    text-align: center;  
    margin-right: 40%;
}
.center{
    margin-left: 18%;
    
}
.needYou{
    margin-top: 0%;
    margin-left: 15%
}

/*end of 5th part style */

/* footer style */
h3{
    font-family: 'Lobster', cursive;
    font-size: 36px;
}

footer{
    margin: 0px;
    margin-top: 5%;
    background-color: #0B0D17;
    text-align: center;
    color: white;  
    padding-top: 5px;
    padding-bottom: 1px;
}
.lastLine{
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
}
/* end of footer style */